<header>
  <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
  <nav>
    <a href="{{ "/Updates" | relative_url }}">Updates</a>
    <a href="#">Templates</a>
    <a href="#">Useful Internal Info</a>
    <a href="{{ "/Guides" | relative_url }}">Guides</a>
    <a href="#">Edit this page on GitHub</a>
    <a href="https://github.com/{{ site.repository }}/edit/main/{{ page.path }}">Edit this page on GitHub</a>
    <a href="{{ site.github.edit_url }}" target="_blank">Edit this page on GitHub</a>
  </nav>
</header>
